/* MyPage.css */
.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height */
  }
  
  .center-button {
    margin: 10px;
  }
  